{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <h2>Ordered Product</h2>
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>

							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
  {% for order_item in object %}
{% for items in order_item.items.all %}
						<tr>

							<td data-th="Product">

								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{ items.item.image.url }}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin"><strong>{{ items.item.title }}</strong></h4>
										<h4 class="nomargin"><strong>Status:</strong>{% if order_item.refund_requested %} Refund Initated {% else %}Will Be Delivered{% endif %}</h4>
										<h4 class="nomargin"><strong>address:</strong>{{ order_item.shipping_address.street_address}}</h4>

										<h4 class="nomargin"><strong>Order No.:</strong>{{ order_item.ref_code}}</h4>
										<h4 class="nomargin"><strong>Order Date:</strong>{{ order_item.ordered_date}}</h4>

										<h4 class="nomargin"><strong>quantity:</strong>{{ items.quantity }}</h4>





									</div>
								</div>
							</td>


							<td data-th="Subtotal" class="text-center"> {% if items.item.discount_price %}
                                                                              &#8377;{{ items.item.discount_price }}
                                                                          {% else %}
                                                                              &#8377;{{ items.item.price }}
                                                                          {% endif %}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm">Print Receipt</button>
								<br><br>
                              <a href="{% url 'core:request-refund' order_item.ref_code %}">	<button class="btn btn-danger btn-sm">Request Return</button></a>
							</td>

						</tr>
                      {% endfor %}
				{% endfor %}
  </tbody>

					<tfoot>

						<tr>

							<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>



						</tr>
					</tfoot>

				</table>
</div>

<style>


  .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
</style>
<script>
	function update_item(){
	document.getElementByTagName("input");
	}
</script>

		{% endblock content %}