{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}




   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .form-control {
    display: flex;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
      


    </style>


    <div class="container" style="margin-top: 50px;">


  <div class="row">


    <div class="col-md-8 order-md-1 card" >
    	<div class="current-card-form">
              <img src="{% static 'images/4.png' %}" alt="IMG-BANNER" class="ban_img">

            </div>

            <div class="new-card-form">
              <form action="." method="post" class="stripe-form" id="stripe-form">
                  {% csrf_token %}
                  <br>

                    <button style="border: none;
  padding: 10px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 25px;
  cursor: pointer;
  border-radius: 16px;" class="btn btn-success">Please Confirm Your Order</button>
              </form>
            </div>
    </div>

    {% include "order_snippet.html" %}

  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 axonsites</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
{% endblock content %}

